<!DOCTYPE html>
<html lang="en">

<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/social-likes_flat.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="shortcut icon" href="./public/favicon.ico"/>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="description" content="Personal website of a technology enthusiasist">
    <meta name="keywords" content="linh, tran, personal, portfolio, website, projects,
	web developer, web server programmer, mobile app programmer, algorithms, javascript, html, css, python, java, oop, skills, computer science">
    <script src="assets/js/vendor/jquery-2.1.3.min.js"></script>
    <script src="assets/js/vendor/jquery.waypoints.min.js"></script>
    <script src="assets/js/vendor/jquery.visible.min.js"></script>
    <script src="assets/js/vendor/social-likes.min.js"></script>
    <script src="assets/js/vendor/angular.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/app.js"></script>
    <title>Linh Tran</title>
    <!-- <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-64615515-2', 'auto');
    ga('send', 'pageview');
    </script> -->
</head>

<body ng-app="app">
    <div id="container">
        <div class="parallax background">
            <div id="main-title">
                <div id="big">
                    Linh Tran
                </div>
                <div id="small">"Respect all. Fear none." - The Kinjaz</div>
            </div>
            <div id="overlay"></div>
            <a href="#about" id="bouncing-arrow">
                <span class="fa fa-chevron-down"></span>
            </a>
        </div>
        <div id="content" ng-controller="MainController">
            <nav>
                <li id="item1"><a href="#about">About</a></li>
                <li id="item2"><a href="#projects">Projects</a></li>
                <li id="item3"><a href="#skills">Skills</a></li>
                <li id="item6"><a href="./assets/LinhTran_Resume.pdf" target="_blank">Resume</a></li>
                <li id="item4"><a href="#interests">Interests</a></li>
                <li id="item5"><a href="#contact">Contact</a></li>
            </nav>
            <section id="about">
                <header>
                    <h1>About Me</h1>
                    <h2>Full-time coding lover. Aspiring Computer Scientist</h2>
                </header>
                <div id="profile-pic">
                    <div></div>
                </div>
                <div id="about-me">
                    I am a Computer Science major at Bryn Mawr College, a technology enthusiast, and an always-curious mind. 
                    I've enriched my background through multiple projects, from building mobile app to web server, from developing 
                    back-end to front-end, from taking paid internship to engaging myself in volunteer work that benefits our society. 
                    Nonetheless, there's still a long path and I wake up everyday excited, knowing that there are a lot of great 
                    things await me to discover. Continue on to learn more about what I've done!
                </div>
            </section>
            <div class="bg-color-2">
                <section id="projects">
                    <header>
                        <h1>Projects</h1>
                        <h2>For more projects, please visit my <a href="https://github.com/linhtran2407" target="_blank">Github</a></h2>
                    </header>
                    <div class="experience" ng-repeat="experience in projects">
                        <div class="image"><img ng-src="{{ experience.image }}" alt=""></div>
                        <div class="exp-info">
                            <div class='experience-title'><a href="{{ experience.link }}" target="_blank">{{ experience.title }}</a></div>
                            <div class="text">
                                {{ experience.text }}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <section id="skills">
                <header>
                    <h1>Skills</h1>
                    <h2>Picking up new things all the time</h2>
                </header>
                <div id="skills-circle">
                    <div id="info00" class="skill-info">
                        <div class="skill-title">Check it out</div>
                        <div class="skill-details">
                            <!-- <div class="skill-level">See my skills</div> -->
                            <div class="skill-also">Hover over each icon for more info about each skill!</div>
                        </div>
                    </div>
                    <div id="info01" class="skill-info">
                        <div class="skill-title">CSS3</div>
                        <div class="skill-details">
                            <!-- <div class="skill-level">Proficient</div> -->
                            <div class="skill-also">This page would not look so great without cascading style sheets.</div>
                        </div>
                    </div>
                    <div id="info02" class="skill-info">
                        <div class="skill-title">HTML5</div>
                        <div class="skill-details">
                            <!-- <div class="skill-level">Proficient</div> -->
                            <div class="skill-also">Essential for web development.</div>
                        </div>
                    </div>
                    <div id="info03" class="skill-info">
                        <div class="skill-title">Python</div>
                        <div class="skill-details">
                            <!-- <div class="skill-level">Experienced</div> -->
                            <div class="skill-also"> Simple, clean, and powerful. Built a game and aced the Introduction to CS course in this language.
                                <hr/> Also had some experience with Flask.</div>
                        </div>
                    </div>
                    <div id="info04" class="skill-info">
                        <div class="skill-title">Database Management</div>
                        <div class="skill-details">
                            <!-- <div class="skill-level">Proficient</div> -->
                            <div class="skill-also"> Have experience with MongoDB (Mongoose) and Back4App.
                                <hr/>Essential part of back-end development. Always trying to learn and be better at this</div>
                        </div>
                    </div>
                    <div id="info05" class="skill-info">
                        <div class="skill-title">Java</div>
                        <div class="skill-details">
                            <!-- <div class="skill-level">Experienced</div> -->
                            <div class="skill-also">My most used and comfortable language. Love praciticing algorithm and data structures everyday with this language. Already in love and used it to develop 5 Android apps. It also has a highly developed standard library.</div>
                        </div>
                    </div>
                    <div id="info06" class="skill-info">
                        <div class="skill-title">JavaScript</div>
                        <div class="skill-details">
                            <!-- <div class="skill-level">Proficient</div> -->
                            <div class="skill-also">
                                A very important scripting language for the web. Just learned to use it recently but already 
                                <hr/> Also had experience with Node.js, Express.js, and React.
                            </div>
                        </div>
                    </div>
                    <div class="skill-icon"><img src="assets/img/css3.png" alt=""></div>
                    <div class="skill-icon"><img src="assets/img/html5.png" alt=""></div>
                    <div class="skill-icon"><img src="assets/img/python.png" alt=""></div>
                    <div class="skill-icon"><img src="assets/img/db.png" alt=""></div>
                    <div class="skill-icon"><img src="assets/img/java.png" alt=""></div>
                    <div class="skill-icon"><img src="assets/img/javascript.png" alt=""></div>
                </div>
            </section>
            <div class="bg-color-2">
                <section id="interests">
                    <header>
                        <h1>On technology</h1>
                        <h2>And more...</h2>
                    </header>
                    <div id="interests-pictures">
                        <div class="interest" ng-repeat="interest in interests">
                            <img ng-src="{{ interest.image }}">
                            <div class="interest-info">
                                <div class="interest-name">{{ interest.name }}</div>
                                <div class="interest-text">
                                    {{ interest.text }}
                                </div>
                                <a href="{{ interest.link }}" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <section id="contact">
                <header>
                    <h1>Contact</h1>
                    <h2>Let's talk</h2>
                </header>
                <div id="contact-info">
                    <div id="social-icons">
                        <a href="https://www.linkedin.com/in/linh-tran-16b4b11ab/" target="_blank" class="social-icon"><span class="fa fa-linkedin-square"></span></a>
                        <a href="https://github.com/linhtran2407" target="_blank" class="social-icon"><span class="fa fa-github-square"></span></a>
                        <a href="mailto:ltran1@brynmawr.edu" target="_blank" class="social-icon"><span class="fa fa-envelope-square"></span></a>
                    </div>
                    <div id="contact-text">
                        I am very interested in full time software engineering opportunities, starting after my graduation in May 2023. 
                        Reach out to me on one of above various networks! Furthermore, here's my <a href="./assets/LinhTran_Resume.pdf" target="_blank">résumé</a>.
                    </div>
                </div>
            </section>
            <main>
        </div>
    </div>
</body>

</html>
